<div class="cat-grid">
      <table>
            <thead>
                  <tr>
                        <th width="5%">id</th>
                        <th width="15%">title</th>
                        <th width="30%">content</th>
                        <th width="15%">time</th>
                        <th width="10%">author</th>
                        <th width="5%">audit</th>
                        <th width="10%">remark</th>
                        <th width="10%">operat</th>
                  </tr>
            </thead>
            <tbody>
                  <repeat group="{{ @data }}" value="{{ @item }}">
                        <tr>
                              <td align="center">{{ @item.id }}</td>
                              <td>{{ @item.title }}</td>
                              <td>{{ @item.content }}</td>
                              <td align="center">{{ @item.time }}</td>
                              <td align="center">{{ @item.author }}</td>
                              <td align="center">{{ @item.audit }}</td>
                              <td>{{ @item.remark }}</td>
                              <td data-id="{{ @item.id }}" data-audit="{{ @item.audit }}" align="center"></td>
                        </tr>
                  </repeat>
            </tbody>
      </table>
      <div class="cat-page"></div>
</div>
