<div class="cat-grid">
      <table>
            <thead>
                  <tr>
                        <th width="5%">id</th>
                        <th width="15%">title</th>
                        <th width="30%">content</th>
                        <th width="15%">time</th>
                        <th width="10%">author</th>
                        <th width="5%">audit</th>
                        <th width="20%">operat</th>
                  </tr>
            </thead>
            <tbody>
                  <repeat group="{{ @data }}" value="{{ @item }}">
                        <tr>
                              <td align="center">{{ @item.id }}</td>
                              <td><div class="ellipsis-title" title="{{ @item.title }}">{{ @item.title }}</div></td>
                              <td><div class="ellipsis-description" title="{{ @item.description }}">{{ @item.description }}</div></td>
                              <td align="center">{{ @item.time }}</td>
                              <td align="center">{{ @item.author }}</td>
                              <td align="center">{{ @item.audit }}</td>
                              <td data-id="{{ @item.id }}" data-audit="{{ @item.audit }}" align="center">
                                    <a class="button button-raised button-tiny button-action" href="<?=host?>/msg?mode=edit&id={{ @item.id }}" target="_blank">编辑</a>
                                    <a class="button button-raised button-tiny button-highlight" href="<?=host?>/msg?mode=read&id={{ @item.id }}" target="_blank">查看</a>
                              </td>
                        </tr>
                  </repeat>
            </tbody>
      </table>
      <div class="cat-page"></div>
</div>
